<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style_Carta.css">
    <title>¡Feliz Día, Mamá!</title>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
</head>
<body>

    <div class="card">
        <div class="heart">❤️</div>
        <h1>¡Feliz Día, Mamá!</h1>
        <p>Gracias por ser mi guía, mi apoyo y mi mejor ejemplo. <br> <strong>¡Eres la mejor!</strong></p>
        <button onclick="lanzarConfeti()">Primero haz clik aquí varias veces</button>
        <a href="broma.html" class="broma">Luego entra aquí</a>
    </div>

    <script src="JS/Script.js"></script>
</body>
</html>